<div class="block">
  <h3>Simple Block</h3>
  <div class="content">
        <ul class="links">
            <li>
                <%= link_to "All Services" + 
          " (" + h(WaitingList.count(:conditions => ['completed_date IS NULL AND referral_date LIKE ?',Date.today.to_s + '%'])) + ")", 
          :controller => "waiting_lists", 
          :action => "index", 
          :id => ""%>
            </li>
            <% for service in @services %>
            <li>
                <input type="checkbox" id="<%= service.service_name %>dd" name="<%= service.service_name %>dd" value="<%= service.id %>"/><%= link_to service.service_name + " (" + h(WaitingList.count(:conditions => ['completed_date IS NULL AND service_id=? AND referral_date LIKE ?', service.id, Date.today.to_s + '%'])) + ")", :controller => "waiting_lists", :action => "index", :id => service.id %>
            <%= category_selector(service.id, service.service_name) %>
            <% end %></li>
        </ul><%= submit_tag "add selected client", :class => "button" %>
       
    </div>
</div>